.container {
  max-width: 1200px;
  margin: auto;
}
.uppercase_text {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}
