.container {
  max-width: 1200px;
  margin: auto;
}
.uppercase_text {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

.added {
  background: green;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.5rem;
}
.removed {
  background: red;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.5rem;
}
