<div class="container">
  <h1 class="app_header">Favorites</h1>
  <flash-messages></flash-messages>
  <mat-table class="films-table mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let film"
        ><a routerLink="../info/{{ film.id }}">{{ film.title }}</a></mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="genres_names">
      <mat-header-cell router *matHeaderCellDef>Genres</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let film">{{
        film.genres_names
      }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="remove">
      <mat-header-cell router *matHeaderCellDef
        >add(+) or remove(-)<br />favorite film</mat-header-cell
      >
      <mat-cell
        [ngStyle]="{ position: 'relative' }"
        class="description-cell"
        *matCellDef="let film"
      >
        <mat-icon
          (click)="clickOnCloseIcon(film)"
          [ngStyle]="{
            position: 'absolute',
            right: 20 + '%',
            cursor: 'pointer'
          }"
          >close</mat-icon
        >
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
